@import url('https://fonts.googleapis.com/css2?family=One+Day&display=swap');

.category-page {
  display: flex;
  height: 100vh;
  background-color: black;
  color: white;
}

.left-section {
  flex: 1;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 38px;
  margin-bottom: 70px;
  margin-right: 90px;
}

.subheading {
  font-size: 40px;
  margin-bottom: 80px;
}

.selected-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 20px;
  align-items: center;
}

.category-chip {
  background-color: green;
  color: white;
  padding: 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.category-chip span {
  margin-right: 10px; /* Adjust spacing between category name and 'X' button */
}

.category-chip button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.triangle {
  margin-right: 8px;
  font-size: 20px;
}

.right-section {
  flex: 1;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
  text-align: center;
}

.category-box {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent; /* Ensure initial border is transparent */
}

.category-box img {
  width: 90%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.category-heading {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.category-box.Action {
  background-color: #ff5209;
}

.category-box.Drama {
  background-color: #d7a4ff;
}

.category-box.Romance {
  background-color: #11b800;
}

.category-box.Thriller {
  background-color: #84c2ff;
}

.category-box.Western {
  background-color: #902500;
}

.category-box.Horror {
  background-color: #7358ff;
}

.category-box.Fantasy {
  background-color: #ff4ade;
}

.category-box.Music {
  background-color: #e61e32;
}

.category-box.Fiction {
  background-color: #6cd061;
}

.category-box.selected {
  border-color: #11b800; /* Adjusted to set border color to #11b800 when selected */
}

.next-button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #11b800;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 450px;
  margin-top: 20px;
}

.next-button:hover {
  background-color: #00cc00;
}

